@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #51736fce, #F2F2F2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #666973;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #446460;
    text-align: center;
    text-shadow: 1px 2px 0px #66697398;
}

h2 {
    color: #5d817d;
}

p {
    text-align: justify;
}